@model SmartInvoice.MVC.Models.InvoiceViewModel

@{
    ViewData["Title"] = "Invoices";
}

<div class="container-fluid">

    <div class="d-flex justify-content-between mb-4">
        <div>
            <h4>Invoice #INV-@Model.Id.ToString("D5")</h4>
            <p class="text-muted">Client: <strong>@Model.ClientName</strong></p>
        </div>

        <div>
            <span class="badge
                @(Model.Status == "Paid" ? "bg-success" :
                                    Model.Status == "Pending" ? "bg-warning" : "bg-danger")">
                @Model.Status
            </span>
        </div>
    </div>

    <hr />

    <div class="row mb-3">
        <div class="col-md-6">
            <p><strong>Invoice Date:</strong> @Model.Date.ToString("MMM dd, yyyy")</p>
        </div>

        <div class="col-md-6 text-end">
            <p><strong>Due Date:</strong> @Model.DueDate.ToString("MMM dd, yyyy")</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6"></div>

        <div class="col-md-6">
            <table class="table">
                <tr class="fw-bold">
                    <td>Total Amount</td>
                    <td class="text-end">R @Model.TotalAmount.ToString("N2")</td>
                </tr>
            </table>
        </div>
    </div>

</div>